/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: ‘’;
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------- start of     FONTS    ---------- */
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff'),
        url('fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/*----- END OF FONTS  ------- */

.site-container {
    max-width: 1240px;
    margin: 0 auto;
    display:block;
}

h2 {
    font-family: "PlayfairDisplay-Regular", serif;
    justify-content: center;
    font-size: 2rem

}


.strong {
    font-style: normal;
}

p {
    font-family: "Raleway-Medium", sans-serif;
}



.site-header-container {
    padding: 1rem;
    border:solid red;
    flex-flow: row wrap;
    justify-content: space-around;
    display: flex;
    align-content: center;
}

.logo {
    flex-grow: 1;
    justify-content: flex-start;
}
.logo img {
    width: 10rem;

}
.main-navigation {
    flex-grow: 2;
    word-spacing:15px;   
    padding: 2rem;
    margin
}

.main-navigation li {
    display: inline-block;
    color:red;
}

.cart img {
    justify-content: flex-end;
    flex-grow: 1;
    width: 4rem;
}
/* ---------------------END OF HEADER ---------*/

/* ------BANNER ------*/

.banner {
    background: url("images/banner-girl.png") no-repeat center 10%,
                url("images/flower-bkgd.jpg") repeat-y ;
    display: flex;  
    height: 700px;
    border: solid #2d2d2d 2px;
    align-items: center;
    flex-flow: column;
}

.banner-collection .banner-season {
    width: 25%;
    height: 25%;
    margin: 50px;
    padding: 25px;
    text-align: center;
}

/*------ ABOUT ----- */

.about {
    border: solid red;
    padding: 10%;
    line-height: 200%;
    text-align: center;
}

.categories {
    display:none;
    background-color:black;
}

/*-----------------MOST LOVED ITEMS ----------*/

.most-loved-products {
    display: flex;
    width:auto;
}



/*-----  SUBSCRIBE AREA ------ */
.newsletter img {
    height:100px;
}

/*----- FOOTER  ------*/
.site-footer {
    border:solid red;
    background: #ddd;
    display:flex; 
      
}

.company-info {
    float: left;
}

.social-links {
    float: right;
}

/* media      */

@media screen (min-width: 600px) { 
    .site-container { 
        font-size: 16px;
       
    }
}

@media screen (max-width: 234px) {
     .site-container {
        font-size: 14px; 

    }

}
