/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ‘’;
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------- start of     FONTS    ---------- */
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-MediumItalic.eot");
  src: url("fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("fonts/Raleway-MediumItalic.woff") format("woff"),
    url("fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Medium.woff2") format("woff2"),
    url("fonts/Raleway-Medium.woff") format("woff"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff2") format("woff2"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype"),
    url("fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-LightItalic.eot");
  src: url("fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("fonts/Raleway-LightItalic.woff") format("woff"),
    url("fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/*----- END OF FONTS  ------------------------------------
------------------------------------------------------------------------
=---------------------------------------------------------------------- */

.screen-reader-text {
  /* clip: rect(1px, 1px, 1px, 1px); */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  /* clip: auto !important; */
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content*/
}

h2 {
  font-family: "PlayfairDisplay", serif;
  font-size: 30pt;
  justify-content: center;
}

a {
  text-decoration: none;
}

.italics {
  font-style: italic;
  font-family: "";
}

.strong {
  font-weight: bold;
}

p,
li,
h1 {
  font-family: "Raleway", sans-serif;
}

/* ---------------------HEADER --------------------*/

.site-header {
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 15px;
}

.logo img {
  align-self: flex-start;
  max-width: 90px;
}

.cart img {
  align-self: flex-end;
  max-width: 50px;
}

.main-navigation a {
  color: #e2574c;
}

.site-header li {
  align-items: center;
  display: inline-block;
  padding: 1em;
  justify-content: center;
}

.site-header a:hover {
  color: #b64036;
}

/* ------- BANNER ----- */

.banner {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  center/ contain no-repeat url("images/banner-girl.png"),
  center / cover no-repeat url("images/flower-bkgd.jpg");
  color: white;
  border: solid #2d2d2d 2px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  overflow: hidden;
}

.banner-collection {
  line-height: 2.3;
  text-align: center;
  text-shadow:1px 2px 1px #242424;

}

.seasonal-collection {
  font-size: 56px;
  font-family: "Raleway-Light";
  text-shadow:1px 2px 1px #242424;

}

/*------ ABOUT ----- */

.about {
  line-height: 200%;
  padding: 10%;
  text-align: center;
}

.about p {
  font-size: 1.5rem;
  font-family: "Raleway";
  font-weight: 300;
  margin: 1rem;
  padding: 1rem;
}

/* ------- Categories */

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories div {
  box-sizing: border-box;
  padding-top: 25%;
  position: relative;
}

.categories p {
  justify-content: center;
  color: #fff;
  font-size: 32px;
  font-weight: 350;
  text-transform: uppercase;
  align-items: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categories p:hover {
  color: #b64036;
}

.mens {
  background-image: url("images/mens-category.jpg");
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center;
  border: solid white;
  flex-basis: 50%;
}

.trends {
  background-image: url("images/trends-category.jpg");
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center;
  flex-basis: 25%;
  border: solid white;
}
.glasses {
  background-image: url("images/glasses-category.jpg");
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center;
  flex-basis: 25%;
  display: block;
  border: solid white;
}
.sale {
  background-image: url("images/sale-category.jpg");
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center;
  flex-basis: 25%;
  border: solid white;
}

.bags {
  background-image: url("images/bags-category.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover, cover;
  flex-basis: 25%;
  border: solid white;
}
.womens {
  background-image: url("images/womens-category.jpg");
  background-size: cover, cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 50%;
  border: solid white;
}

/*-----------------MOST LOVED ITEMS ----------*/

.most-loved-products h2 {
  padding-bottom: 40px;
}
.most-loved-products h3 {
  color: #e2574c;
}
.most-loved-products p {
  color: #969696;
}
.most-loved-products {
  text-align: center;
  padding: 70px 0px;
}

/*-----  SUBSCRIBE AREA ------ */
.email-form {
  display: block;
  padding: 20px;
  position: relative;
}

.email-form input {
  border-radius: 25px;
  width: 250px;
  line-height: 3;
  border: none;
  min-width: 190px;
}

.submit {
  background-color: #e2574c;
  border-radius: 25px;
  border: none;
  color: white;
  line-height: 1;
  width:120px;
  position: absolute;
  transform: translate(-121px, 3px); 
  font-size: 16px;
  padding:10px;
}
.submit:hover {
  background-color: #b6403c;
}

.newsletter {
  overflow: hidden;
  background: bottom no-repeat url("images/wave-bkgd.jpg");
  height: 400px;
  text-align: center;
  vertical-align: baseline;
}

.newsletter h2 {
  color: white;
  padding-top: 90px;
  padding-bottom:30px;
  text-shadow:1px 2px 1px #242424;

}
.newsletter p {
  color: white;
  line-height: 2;
  margin: 10px;
  text-align: center;
}

/*----- FOOTER  ------*/

.site-footer {
  background: #242424;
  padding: 4rem;
  overflow: hidden;
  line-height: 1.6;
}

.company-info {
  float: left;
  color: #fff;
  font-family: "PlayfairDisplay-Regular";
}

.company-info p:last-child {
  color: #969696;
  font-family: "Raleway-Light";
}

.social-links {
  float: right;
}

.social-links a {
  color: white;
}
.social-links a:hover {
  color: #b64036;
}

/* --------------MEDIA QUERIES ----------------*/

@media (max-width: 600px) {
  /* header */
  .site-header {
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .main-navigation {
    border-top: solid rgb(202, 202, 202) 1px;
    order: 1;
  }

  /* categories */
  .categories p {
    font-size: 24px;
  }
  .mens {
    flex-basis: 100%;
  }
  .trends,
  .glasses,
  .sale,
  .bags {
    flex-basis: 50%;
  }
  .womens {
    flex-basis: 100%;
  }
  /* footer  */
  .site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-text {
    display: none;
  }
  .social-links li {
    display: inline;
    order: 1;
    padding: 20px;
  }
  .social-links {
    padding-top: 10px;
  }
}

